<div class="row">
  <div class="col-12 offset-md-2 col-md-8 mt-md-5">
    <div class="card">
      <div class="card-header">
        <h2>Nuevo desplegable</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="nuevoDesplegable" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="Filtro">Filtro: </label>
            <input type="text" autofocus class="form-control" id="Filtro" formControlName="Filtro"
              [ngClass]="{ 'is-invalid': submitted && f.Filtro.errors }" placeholder="Digite el nombre del filtro">
            <span>
              <div *ngIf="submitted && f.Filtro.errors">
                <div *ngIf="f.Filtro.errors.required"> <label id="error">El filtro es requerido</label></div>
              </div>
            </span>
          </div>      
          
          <div class="form-group">
            <label for="Codigo">Codigo: </label>
            <input type="number" autofocus class="form-control" id="Codigo" formControlName="Codigo"
              [ngClass]="{ 'is-invalid': submitted && f.Codigo.errors }" placeholder="Digite el codigo">
            <span>
              <div *ngIf="submitted && f.Codigo.errors">
                <div *ngIf="f.Codigo.errors.required"> <label id="error">El codigo es requerido</label></div>
              </div>
            </span>
          </div>       
          
          <div class="form-group">
            <label for="Opcion">Opción: </label>
            <input type="text" autofocus class="form-control" id="Opcion" formControlName="Opcion"
              [ngClass]="{ 'is-invalid': submitted && f.Opcion.errors }" placeholder="Digite la opción">
            <span>
              <div *ngIf="submitted && f.Opcion.errors">
                <div *ngIf="f.Opcion.errors.required"> <label id="error">La opción es requerida</label></div>
              </div>
            </span>
          </div>    

          <button type="submit" class="btn btn-primary btn-lg btn-block btn-full">Crear</button>
        
        </form>
      </div>
    </div>
  </div>
</div>
