
<div class="container-fluid">
  <div class="row text-center d-flex justify-content-between mb-3" *ngIf="data != null" >
      <div class="col-12" >
        <ul ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" *ngFor="let r of reporte; let i = index" (click)="cambiarInforme(i)">
            <a class="nav-link" [ngClass]="{active: r.activo}">{{r.titulo}}</a>
          </li>
        </ul>
      </div>
      <div class="col-12">
        <h1 class="mt-1 text-center">{{reporte[selected].titulo}}</h1>
      </div>
    <iframe class="dimframe" [src]="reporte[selected].url | safe" frameborder="0" allowFullScreen="false"></iframe>

  </div>
</div>
