<div class="row">
  <h1>Seguimiento.</h1>
</div>
<div class="row d-flex justify-content-center align-items-center full">

  <div class="card col-md-4 col-12">
    <img src="assets/img/WhatsApp Image 2020-02-28 at 3.11.48 PM (1).jpeg" class="card-img-top img-card mt-4" alt="...">

    <div class="card-body">
      <h5 class="card-title">Cultivo.</h5>
      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      <button class="btn btn-success btn-block" [routerLink]="['detalles', 'C']" routerLinkActive="router-link-active">
        Ir
      </button>
    </div>
  </div>
  <div class="card col-md-4 col-12">
    <img src="assets/img/95112bac-d9b4-489a-97dc-eb6f5663e9c3.jpeg" class="card-img-top img-card mt-4" alt="...">
    <div class="card-body">
      <h5 class="card-title">Postcosecha.</h5>
      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      <button class="btn btn-success btn-block" [routerLink]="['detalles', 'P']" routerLinkActive="router-link-active">
        Ir
      </button>
    </div>

  </div>
  <!-- <div class="card col-md-4 col-12">
    <img src="assets/img/d26e3ff4-5d82-469d-8366-8886d2d3066a.jpeg" class="card-img-top img-card mt-4" alt="...">
    <div class="card-body">
      <h5 class="card-title">Bouquetera.</h5>
      <button class="btn btn-success btn-block" [routerLink]="['detalles', 'B']" routerLinkActive="router-link-active">
        Ir
      </button>
    </div>

  </div> -->

</div>
